src/main/resources/projects.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified"
           xmlns:xs="http://www.w3.org/2001/XMLSchema">
    <xs:element name="projects" type="projectsType"/>
    <xs:complexType name="projectType">
        <xs:sequence>
            <xs:element name="id" type="xs:string">
            </xs:element>
            <xs:element name="name" type="xs:string">
            </xs:element>
            <xs:element name="parent" minOccurs="0" type="xs:string">
            </xs:element>
            <xs:element type="tagsType" name="tags" minOccurs="0"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="tagsType">
        <xs:sequence>
            <xs:element name="tag" maxOccurs="unbounded" minOccurs="0" type="xs:string">
            </xs:element>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="projectsType">
        <xs:sequence>
            <xs:element type="projectType" name="project" maxOccurs="unbounded"/>
        </xs:sequence>
    </xs:complexType>
</xs:schema>